*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none !important;
  }
  /*________________________________________Main Header__________________________________________________*/
  #header{
    background-color: rgb(91, 101, 165);
  }
  .strip p{
    font-size: 12px;
    margin: 0;
    color:rgb(70, 70, 70);
  }
  nav.navbar-expand-lg{
    padding: 0 16px;
  } 
  nav ul li{
    margin: 0 16px;
  }
  nav.navbar-expand-lg ul li a:link,
  nav ul li a:visited{
    font-size: 18px;
    color:rgba(249, 250, 250, 0.924);
    font-weight: 100;
    transition: 0.4s;
  }
  nav.navbar-expand-lg ul li a:hover,
  nav ul li a:active{
    color:rgb(255, 255, 255);
    transform: scale(1.1);
  }
  .banner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-image: url('../images/banner.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }
  .banner h1{
    font-size: 60pt;
    color:rgb(238, 238, 238);
    padding: 0 20px;
    text-shadow: 0 2px 5px rgb(20, 20, 20);
  }
  .banner p{
    font-size: 20px;
    font-family: system-ui;
    color: rgb(255, 255, 255);
    margin-top: 10px;
    line-height: 30px;
    text-shadow: 0 3px 8px rgb(20, 20, 20);
  }
  .search-bar{
    margin-top: 10px;
  }
  .search{
    width: 320px;
    font-size: 18px;
    color:rgb(146, 146, 146);
    background-color: #fff;
    border: 1px solid rgb(109, 109, 109);
    border-right: none;
    padding: 8px 16px;
    border-top-left-radius: 20px;
    transition: all 0.4s;
  }
  .search::placeholder{
    color:rgb(167, 167, 167);
  }
  .btn-search{
    right: 15px;
    color:rgb(255, 255, 255);
    background-color: rgb(91, 101, 165);
    font-size: 18px;
    padding: 8px 16px;
    border: 1px solid rgb(109, 109, 109);
    border-left: none;
    border-bottom-right-radius: 20px;
    transition: background-color 0.4s;
  }
  .btn-search:hover{
    background-color: rgb(123, 128, 167);
  }
/*______________________________________________sections_________________________________________________________*/
section{
  width: 100%;
}
.comporter{
  width: 80%;
  margin: 0 auto;
  padding: 30px 0;
}
section h4{
  font-size: 22pt;
  color:rgb(40, 43, 68);
}
.next-book{
  margin: 0 20px;
}
.next-book img{
  width: 100%;
  height: 24rem;
  box-shadow: 6px 8px 0 gray;
  transition: 0.5s;
}
.next-book img:hover{
  box-shadow: 0 26px 30px rgb(144, 197, 180);
}
.topics{
  background-color: rgb(235, 235, 235);
  padding-bottom: 20px;
}
.topic_card{
  background-color: rgb(96, 40, 185);
  padding: 5px 20px;
  border: 1px solid rgb(23, 2, 82);
  border-radius: 5px;
}
.topic_card h4{
  font-size: 24px;
  font-weight: 200;
  color:rgb(228, 228, 228);
}
.random{
  background-color: rgb(255, 255, 255);
}
.description h3{
  font-size: 20pt;
  color:rgb(246, 101, 44);
}
.description h1{
  font-size: 36pt;
  color:rgb(31, 33, 46);
  margin: 16px 0;
}
.description h5{
  font-size: 22pt;
  font-weight: 100;
  color:rgb(31, 33, 46);
}
.description p{
  font-size: 18px;
  color: #494949;
  line-height: 28px;
  margin: 40px 0;
}
#top{
  background-color: rgb(235, 235, 235);
}
.top-book{
  margin: 0 14px;
}
.top-book img{
  width: 100%;
  height: 22rem;
  box-shadow: 6px 8px 0 rgb(149, 149, 149);
  transition: 0.4s;
}
.top-book img:hover{
  transform: scale(1.03);
}
#most{
  background-color: rgb(255, 255, 255);
}
.most-book{
  margin: 0 14px;
}
.most-book img{
  width: 100%;
  height: 20rem;
  box-shadow: 6px 8px 0 rgb(149, 149, 149);
  transition: 0.4s;
}
.most-book img:hover{
  transform: translate(0, 10px);
}
.blogs{
  background-color: rgb(233, 233, 233);
}
.blogs img{
  width: 100%;
  height: 12rem;
  transition: 0.5s;
}
.blogs img:hover{
  filter: sepia(40%);
}
.blogs h5{
  font-size: 22px;
  color:rgb(40, 43, 68);
  border-left: 1px solid rgb(73, 73, 73);
  padding: 5px 10px;
  transition: 0.5s;
}
.blogs h5:hover{
  background-color: rgb(40, 43, 68);
  padding: 5px 30px;
  color: rgb(226, 226, 226);
  border-left: 1px solid rgb(226, 226, 226);
}
.blogs a{
  text-decoration: none;
}
/* carousel buttons */
#genre .owl-carousel .owl-nav button,
#top .owl-carousel .owl-nav button,
#most .owl-carousel .owl-nav button,
#latest .owl-carousel .owl-nav button{
  position: absolute;
  top: 30%;
  outline: none;
}
#genre .owl-carousel .owl-nav button.owl-prev,
#top .owl-carousel .owl-nav button.owl-prev,
#most .owl-carousel .owl-nav button.owl-prev,
#latest .owl-carousel .owl-nav button.owl-prev{
  left: 0;
}
#genre .owl-carousel .owl-nav button.owl-prev span,
#top .owl-carousel .owl-nav button.owl-prev span,
#most .owl-carousel .owl-nav button.owl-prev span,
#latest .owl-carousel .owl-nav button.owl-prev span{
  font-size: 35px;
  color: #003859;
  margin-left: -4rem;
  padding: 0 1rem;
}
#genre .owl-carousel .owl-nav button.owl-next,
#top .owl-carousel .owl-nav button.owl-next,
#most .owl-carousel .owl-nav button.owl-next,
#latest .owl-carousel .owl-nav button.owl-next{
  right: 0;
}
#genre .owl-carousel .owl-nav button.owl-next span,
#top .owl-carousel .owl-nav button.owl-next span,
#most .owl-carousel .owl-nav button.owl-next span,
#latest .owl-carousel .owl-nav button.owl-next span{
  font-size: 35px;
  color: #003859;
  margin-right: -4rem;
  padding: 0 1rem;
}
/*_________________________________________single book page_______________________________________________________*/
.singlebook{
  width: 100%;
  background-color: #ffffff;
}
.singlebook h4{
  font-size: 24px;
  color:rgb(97, 108, 211);
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  margin-top: 10px;
}
.singlebook h1{
  font-size: 60pt; 
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color:rgb(40, 43, 68);
  margin-top: 20px;
}
.singlebook p{
  font-size: 18px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:rgb(77, 77, 77);
  margin-top: 20px;
  line-height: 28px;
}
.singlebook h5{
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  color: #178368;
}
h5 .dl-count{
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(224, 22, 73);
}
h5 .rev-star{
  font-size: 24px;
  color:rgb(96, 192, 192);
}
.btn-group{
  margin-top: 20px;
}
.download-btn{
  font-size: 24px;
  text-decoration: none !important;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px 20px;
  color:rgb(241, 241, 241);
  background-color: rgba(59, 172, 97, 0.863);
  border: 2px solid rgb(35, 119, 56);
  margin-right: 20px;
  border-radius: 4px;
  transition: 0.5s;
}
.download-btn:hover{
   transform: translate(0, -5px);
   box-shadow: 0 16px 20px rgb(63, 163, 96); 
   color: rgb(255, 255, 255);
}
.read-btn{
  font-size: 24px;
  text-decoration: none !important;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px 20px;
  color:rgb(241, 241, 241);
  background-color: rgba(59, 117, 172, 0.863);
  border: 2px solid rgb(35, 85, 119);
  border-radius: 4px;
  transition: 0.5s;
}
.read-btn:hover{
  transform: translate(0, -5px);
  box-shadow: 0 16px 20px rgb(63, 126, 163); 
  color: rgb(255, 255, 255);
}
#latest{
  background-color: rgb(236, 236, 236);
}
.latest-book{
  margin: 0 14px;
}
.latest-book img{
  width: 100%;
  height: 20rem;
  box-shadow: 6px 8px 0 rgb(149, 149, 149);
  transition: 0.4s;
}
.latest-book img:hover{
  transform: translate(0, 10px);
}
/*_________________________________________books by topics_______________________________________________________*/
.books_topic{
  width: 100%;
  background-color: #ffffff;
}
.books_topic .book{
  margin-top: 20px;
  text-align: center;
}
.books_topic .book img{
  width: 100%;
  height: 16rem;
  transition: 0.5s;
  box-shadow: 5px 6px 0 gray;
}
.books_topic .book img:hover{
  transform: scale(1.05);
}
.books_topic .book h6{
  font-size: 16px;
  margin-top: 10px;
  color:rgb(71, 71, 71);
}
.books_topic .book h5{
  font-size: 20px;
  margin-top: 10px;
  color:rgb(31, 33, 46);
}

/*_________________________________________404_______________________________________________________*/
.notFound{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   text-align: center;
   padding: 20px;
   margin: 100px 0;
}
.notFound h1{
  font-size: 40pt;
  font-family: Arial, Helvetica, sans-serif;
  color: #5f41c0;
}
/*_________________________________________footer_______________________________________________________*/
footer{
  background-color: rgb(31, 33, 46);
}
footer h4{
  color:rgb(91, 101, 165);
  margin-top: 20px;
  margin-bottom: 10px;
}
.subscribe{
  position: relative;
  font-size: 18px;
  width: 300px;
  padding: 5px 20px;
  border: 2px solid rgb(226, 224, 221);
  border-radius: 20px;
}
.subscribe-btn{
  position: absolute;
  right: 30px;
  background-color: rgb(91, 101, 165);
  color:rgb(223, 223, 223);
  font-size: 18px;
  padding: 5px 20px;
  border: 2px solid rgb(226, 224, 221);
  border-radius: 20px;
  transition: background-color 0.4s;
}
.subscribe-btn:hover{
  background-color: rgb(132, 139, 182);
}
/*_________________________________________Responsive_______________________________________________________*/
/* small phones from 0 to 480px */
@media only screen and (max-width: 480px){
  .search{
    width: 200px;
    font-size: 16px;
    padding: 6px 12px;
  }
  .btn-search{
    font-size: 16px;
    padding: 6px 12px;
  }
  .banner h1{
    font-size: 40pt;
  }
  .download-btn{
    font-size: 16px;
    width: 10rem;
    padding: 8px 16px;
    margin-right: 10px;
  }
  .read-btn{
    font-size: 16px;
    width: 8rem;
    padding: 8px 16px;
    margin-right: 10px;
  }

}